include *.txt
include *.md
include *.py
recursive.include ./prediction_model/*

include prediction_model/datasets/*.tsv
include prediction_model/datasets/*.csv
include prediction_model/trained_model/*.pkl

include ./tests/*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
